
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
   
        <h1 id="time"></h1> 
  <script src="/Test/Scripts"></script>
</body>
</html>
