
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>組件3</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/vue.min.js"></script>
</head>
<body>
    <div id="app"> 
        <p>總數{{total}}</p>
        <my-component v-model="total"></my-component>
        <button @@click="handleReduce">-1</button>
    </div>
    <script>
        Vue.component('my-component', {
            props:['value'],
            template: '<input :value="value" @@input="updateValue">',
            
            methods: {
                updateValue: function (event) {
                    
                    this.$emit('input', event.target.value);//語法糖
                },

            }

        });
        var app = new Vue({
            el: '#app',
            data: {
                total:0
            },
            methods: {
                handleReduce: function () {
                    this.total--;
                }
            }
        });
    </script>
</body>
</html>
