
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>組件2</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/vue.min.js"></script>




</head>
<body>
    <div id="app">
        <p>總數{{total}}</p> 
        <my-component v-model="total"></my-component>
        <my-component @@input="handleGetTotal"></my-component>

        <custom-input v-model="searchText"></custom-input>
        <custom-input v-bind:value="searchText" v-on:input="searchText = $event"></custom-input>
        <input v-bind:value="searchText" type="text"
               v-on:input="searchText = $event.target.value">
        
    </div>
    <script>
        Vue.component('my-component', {
            template: '<button @@click="handleClick">+1</button>',
            data: function () {
                return {
                    counter: 0
                }
            },
            methods: {
                handleClick: function () {
                    this.counter++;
                    this.$emit('input', this.counter);//語法糖
                },
                
            }

        });
        var app = new Vue({
            el: '#app',
            data: {
                total: 0,
                searchText:''
            },
            methods: {
                handleGetTotal: function (total) {
                    this.total = total;
                }
            }
        });
        Vue.component('custom-input', {
            props: ['value'],
            template: `<input type="text" v-bind:value="value" v-on:input="$emit('input', $event.target.value)">`
        })
    </script>
</body>
</html>
